.advert-type .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .advert-type h3 {
    font-weight: 400;
  }
  .advert-type .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  .advert-type a{
    text-decoration: none;
    color:black;
  }