// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// form
.form-horizontal {
  margin-left: 20px;
}

.form-group {

  .radio {
    margin-left:15px;
  }

  .pic {
    margin-left: 15px;
    width: 400px;
  }

  #uploadfile {
    margin-left: 15px;
  }
}

.product_list {

  .preview {
    width: 200px;
    float: left;
    img {
      max-width: 180px;
      max-height: 180px;
    }
  }

  td {
    padding-left: 30px;
  }

  .product_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 12px;
    width: 500px;

    .product_title {
      display: block;
    }

    .product_title a {
      color: #3c3c3c;
      font-size: 14px;
    }

    .product_text {
      //float: left;
      font-size: 14px;
      .product_title {
        //text-decoration: line-through;
        font-weight: bold;
      }
    }

    .price {
      font-size: 12px;
      font-weight: 700;
      color: #3c3c3c;
    }
  }
}

// image
.uploadify{display:inline-block;}
.uploadify-button{border:none; border-radius:5px; margin-top:8px;}
table.add_tab tr td span.uploadify-button-text{color: #FFF; margin:0;}